
<!doctype html>
    <html>
        <head>
            <title>Socket.IO chat</title>
            <link href="css/style_bad.css" rel="stylesheet" />
            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        </head>
  <body>
        <h1>Room:<%=namespace%></h1>
        <h2 id="question">Intrebarea apare aici</h2>
        <input type="hidden" value="<%= namespace %>" id="namespace">
        <input type="hidden" value="<%= pid %>" id="pid">
        
        <!--        <input type="submit" value="Obtine Intrebare" id = 'question' >-->
        <div>
            <button id="nature">Stiinte ale naturii</button>
            <button id="quotes">Citate celebre</button>
            <button id="social">Social Media</button>
            <button id="movies">Filme si seriale</button>
            <button id="facts">Fun facts</button>
            <button id="history">Istorie</button>
            <button id="geo">Geografie</button>
            <button id="romanian">Limba si Literarura Romana</button>
            <button id="music">Muzica</button>
            <button id="sport">Sport</button>
        </div>
        <button id="sendToPlayers" disabled>Send</button>
        <button id="correctAnswer" disabled>Correct Answer</button>
        <button id="startSession">Runda Noua</button>
        <div>
            <p id="teamid_1">Team Name</p>
            <p>Member 1:</p>
            <p id="member_11" name = "4" class="king">Teammate1</p>
            <p>Member 2:</p>
            <p id="member_12" name = "4">Teammate2</p>
        </div>
        <div>
            Timer:<p id = "timer"> </p>
        </div>
        <div>
            <p id="teamid_2">Team Name</p>
            <p>Member 1:</p>
            <p id="member_21" name = "4">Teammate1</p>
            <p>Member 2:</p>
            <p id="member_22" name = "4">Teammate2</p>
        </div>
        <a href="http://localhost:3000/user?namespace=<%= namespace %>">http://localhost:3000/user?namespace=<%= namespace %></a>
        <div id = "good_response">
            <p >Raspuns corect</p>
            <p>Raspuns</p>
        </div>
        <script src="js/admin.js"></script>
    </body>
    </html>