
<!doctype html>
    <html>
        <head>
            <title>Socket.IO chat</title>
            <link href="css/style_bad.css" rel="stylesheet" />
            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        </head>
  <body>
        <h1 id = "namespace"><%=namespace%></h1>
        <h2 id = "teams_nust_be_choosen">Alege-ti echipele mai intai</h2>
        <select name="team1" id="team1">
            <% teams.forEach(function(team){ %>
                <option value="<%=team.id %>"><%= team.name %></option>
            <% }) %>
        </select>
        <button id="teams_choosen">Confirm</button>
        <select name="team2" id="team2">
            <% teams.forEach(function(team){ %>
                <option value="<%=team.id %>"><%= team.name %></option>
            <% }) %>
        </select>
        <h2 id="question">Intrebarea apare aici</h2>
        <input type="hidden" value="<%= namespace %>" id="namespace">
        <input type="hidden" value="<%= pid %>" id="pid">
        
        <!--        <input type="submit" value="Obtine Intrebare" id = 'question' >-->
        <div>
            <button id="nature" disabled >Stiinte ale naturii</button>
            <button id="quotes" disabled >Citate celebre</button>
            <button id="social" disabled >Social Media</button>
            <button id="movies" disabled >Filme si seriale</button>
            <button id="facts" disabled >Fun facts</button>
            <button id="history" disabled >Istorie</button>
            <button id="geo" disabled >Geografie</button>
            <button id="romanian" disabled >Limba si Literarura Romana</button>
            <button id="music" disabled >Muzica</button>
            <button id="sport" disabled >Sport</button>
        </div>
        <button id="sendToPlayers" disabled>Send</button>
        <button id="correctAnswer" disabled>Correct Answer</button>
        <button id="startSession">Runda Noua</button>
        <button id="UpdateScor">Update Scor</button>
        <div>
            <p>Echipa 1:</p>
            <p id="teamid_1" class="king">Team Name</p>
            <p>Member 1:</p>
            <p id="member_11" name = "4" >Teammate1</p>
            <p>Member 2:</p>
            <p id="member_12" name = "4">Teammate2</p>
            <p>Punctaj total:</p>
            <input type="number" id="scoreTeam1" name="quantity" min="0" max="30">
        </div>
        <div>
            Timer:<p id = "timer"> </p>
        </div>
        <div>
            <p>Echipa 2:</p>
            <p id="teamid_2" class="king">Team Name</p>
            <p>Member 1:</p>
            <p id="member_21" name = "4">Teammate1</p>
            <p>Member 2:</p>
            <p id="member_22" name = "4">Teammate2</p>
            <p>Punctaj total:</p>
            <input type="number" id="scoreTeam2" name="quantity" min="0" max="30">
        </div>
        <a href="http://localhost:3000/user?namespace=<%= namespace %>">http://localhost:3000/user?namespace=<%= namespace %></a>
        <div id = "good_response">
            <p >Raspuns corect</p>
            <p>Raspuns</p>
        </div>
        <script src="js/admin.js"></script>
    </body>
    </html>