<!doctype html>
<html>
    <%- include('header', {pagename: 'Evrika 2020 - User', AditionalCSS: "css/user_room.css"}); -%>
<body>
<div class="container">
    <div class="row">
        <div class="card large">
            <div class="card-content ">
                <div class="col s2 m2 l1">
                    <h5 id="seconds">15</h5>
                </div>
                <div class="progress col s10 m10 l11 "> 
                    <div class="progress-done" data-done="30">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="card large">
                <div class="row">
                    <div id="form-container-2" class="card-content">
                        <input type="hidden" value="<%= pid %>" id="pid">
                        <input type="hidden" value="<%= namespace %>" id="namespace">
                        <!-- <flow-text class="nume_categorie">{{categorie}}:</flow-text> -->
                        <h3 id = "question">Acesta este un placeholhder?</h3>
                        <br>
    
                        <div class="row" id="answers">
                            <div class="col s12 m12 l6 btn-container">
                                <div id = "button0" class="btn btn-large white black-text col s12 m10 offset-m1 varianta_alegere valign-wrapper" value="A" name="">
                                    A.DA
                                </div>
                            </div>
    
                            <div class="col s12 m12 l6 btn-container">
                                <div id = "button1" class="btn btn-large white black-text col s12 m10 offset-m1 varianta_alegere" value="B" name="">
                                    B.DA
                                </div>
                            </div>
    
                            <div class="col s12 m12 l6 btn-container">
                                <div id = "button2" class="btn btn-large white black-text col s12 m10 offset-m1 varianta_alegere" value="C" name="">
                                    C.DA
                                </div>
                            </div>
    
                            <div class="col s12 m12 l6 btn-container">
                                <div id = "button3" class="btn btn-large white black-text col s12 m10 offset-m1 varianta_alegere" value="D" name="">
                                    D.DA
                             </div>
                            
                        </div>
                        
                    </div>
                    <div class="centerBtn">
                        <button id="submit" class="btn-large responseBtn" type="submit" name="action">Raspunde</button>
                    </div>
                </div>
        </div>
    </div>
</div>
    
<!-- <input type="hidden" value="<%= namespace %>" id="namespace">
<input type="hidden" value="<%= pid %>" id="pid">
<div class="">
    <h1 id = "question">Acesta este un placeholhder?</h1>
    <div id="answers">
        <button id = "button0" name= "" disabled>DA</button>
        <button id = "button1" name= "" disabled>DA</button>
        <button id = "button2" name= "" disabled>DA</button>
        <button id = "button3" name= "" disabled>DA</button>
    </div>
</div>
<div class="timer" >
    <p id="timer">TIMER</p>
</div> -->
<script src="/js/user.js"></script>
</body>
</html>